doctype html
html(lang="en")
    h3 Hello, #{name}
    br
    p This is an email from PGS (Prime Generator Search), letting you know that your record:
    p #{old_eq}
    p #{old_record}
    br
    p Was found to be incorrect by our verifier, and was changed to:
    p #{new_eq}
    p #{new_record}
    br
    p The record was changed on your account due to yours being found incorrect.
    p Don't worry. Any comments associated with the find have been saved in the new record.
    p Please upgrade to the latest version of PGS ( chemicaldevelopment.us/pgs ), and see if that fixes the problem.
    p If you continue to have issues, you can email me at: info@chemicaldevelopment.us , or my primary email: brown.cade@gmail.com
    p If you believe this email was sent in error, let me know at info@chemicaldevelopment.us , or my primary email: brown.cade@gmail.com
    br
    p ~~~
    p Official Website: chemicaldevelopment.us
    p Github: github.chemicaldevelopment.us
    p Email: info@chemicaldevelopment.us
    br
    p ~~~
    p This message was sent automatically due to a concern with your account.
    p Please `block` this address if you do not intend to sign up for PGS, and let me know that you are being incorrectly contacted